@font-face {
  font-family: 'torrow';
  src: url('./assets/fonts/torrow.eot?womdxx');
  src: url('./assets/fonts/torrow.eot?womdxx#iefix') format('embedded-opentype'),
    url('./assets/fonts/torrow.ttf?womdxx') format('truetype'),
    url('./assets/fonts/torrow.woff?womdxx') format('woff'),
    url('./assets/fonts/torrow.svg?womdxx#torrow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
