//색상과 관련된 상수

$black: #000;
$asd: #191a20;
$asd: #3f4150;
$asd: #8c8d96;
$asd: #b2b3b9;
$asd: #e0e2e7;
$asd: #f7f8fa;
$white: #fff;

$blue: #3da5f5;
$blue-dark: #3186c4;
$blue-light: #ecf6fe;

$red: #f86d7d;
$green: #22c58b;
